<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://localhost/login-system/public/stylesheets/auth.css">

    <script src="https://kit.fontawesome.com/33621f7366.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <title>Log In</title>
</head>
<body>
    <div class="container">
        <div class="content">
            {% if page == 'signin' %}
                <header class="content__header">
                    <div>   
                        <i class="fas fa-user fa-5x"></i>
                    </div>
                    <h2>Sign In</h2>
                </header>

                <main class="content__main">
                    <form method="POST" action="http://localhost/login-system/user/signin">
                        <input type="email" name="email" value="" placeholder="Insert your email">
                        <input type="password" name="password" value="" placeholder="Insert your password">

                        <input class="content__button" type="submit" value="Sign In">

                        {% if error != '' %}
                            <span>
                            <i class="fas fa-exclamation-triangle"></i>
                                Invalid attempt
                            </span> 
                        {% endif %}

                        <span>
                    </form>
                </main>

                <footer>
                    <span>Don't have an account?</span>
                    <a href="http://localhost/login-system/user/signup">Sign Up</a>
                </footer>
            {% else %}
                <header class="content__header">
                    <div>
                        <i class="fas fa-user fa-5x"></i>
                    </div>
                    <h2>Sign Up</h2>
                </header>

                <main class="content__main">
                    <form method="POST" action="http://localhost/login-system/user/signup">
                        <input type="text" name="name" value="" placeholder="Insert your name">
                        <input type="email" name="email" value="" placeholder="Insert your email">
                        <input type="password" name="password" value="" placeholder="Insert your password">

                        <input class="content__button" type="submit" value="Sign Up">
                        <span>
                    </form>
                </main>

                <footer>
                    <span>Already have an account?</span>
                    <a href="http://localhost/login-system/">Sign In</a>
                </footer>
                
            {% endif %}
        </div>
    </div>
</body>
</html>