<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="http://localhost/login-system/public/stylesheets/success.css">

    <script src="https://kit.fontawesome.com/33621f7366.js" crossorigin="anonymous"></script>
    <title>Success</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2 class="content__title">You have successfully registered!</h2>
            <div class="content__check">
                <i class="fas fa-check fa-5x"></i>
            </div>
            <button class="content__button"><a href="http://localhost/login-system">Go to login page</a></button>
        </div>
    </div>
</body>
</html>