<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/33621f7366.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost/login-system/src/view/dashboard/style.css">

    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <header>
                <i class="fas fa-user fa-5x"></i>
            </header>

            <main>
                <h2>Bem vindo, {{ name_user }}!</h2>
            </main>

            <footer>
                <button><a href="http://localhost/login-system/dashboard/logout">Fazer logout</a></button>
            </footer>
        </div>
    </div>
</body>
</html>