.content__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.content__header > div {
  background-color: #593de3;
  padding: 30px;
  border-radius: 50%;
  margin-bottom: 30px; 
}
.content__header > div i {
  color: white; 
}

.content__header h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 30px; 
}

.content__main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.content__main input {
  width: 500px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 1.3rem; 
}

@media (max-width: 600px) {
  .content__main input {
    width: 400px; 
  } 
}
@media (max-width: 482px) {
  .content__main input {
    width: 300px; 
  } 
}

@media (max-width: 372px) {
  .content__main input {
    width: 230px; 
  } 
}
.content__main input:not(:first-child) {
  margin-top: 20px; 
}

.content__main span {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6D6D;
  font-weight: bold;
  font-size: 1.1rem; 
}

.content__main span i {
  color: #FF6D6D;
  margin-right: 12px; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #593de3, #6e5ad1);
  height: 100vh; 
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 2px #36248f;
  height: 90%;
  width: 90%;
  max-height: 800px;
  max-width: 800px;
  border-radius: 20px; 
}

.content__button {
  cursor: pointer;
  background-color: #593DE3;
  color: white;
  transition: 0.5s; 
}

.content__button:hover {
  filter: brightness(0.8); 
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


footer a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;

  color: #593DE3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #3a3a3a; 
}

@media (max-width: 600px) {
  * {
    font-size: 83%; 
  } 
} 
