.content__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > div {
        background-color: #593de3;
        padding: 24px;
        border-radius: 50%;
        margin-bottom: 30px;

        img {
            width: 100px;

            @media (max-width: 600px) {
                width: 80px;
            }
    
            @media (max-width: 482px) {
                width: 60px;
            }
    
            @media (max-width: 372px) {
                width: 40px;
            }
        }
    }

    h2 {
        font-weight: bold;
        text-align: center;
        font-size: 2.4rem;

        margin-bottom: 30px;
    }
}
